MODEL_PATH=/app/saved_emotion_model
MODEL_SERVICE_URL=http://model:8000
CORS_ORIGIN=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:4000/api
PORT_API=4000
PORT_FRONTEND=3000
PORT_MODEL=8000
